<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@{
	ViewBag.Title = "Add House";
}

<partial name ="_HouseFormPartial" model="@Model" />

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}